* {
    margin-top: 0;
}
html {
    background-image: url(./onda.jpg);
    animation: colors 25s ease infinite;
}
@keyframes colors {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
body {
    background-color: rgb(253, 251, 251);
    display: block;
    margin-left: 15%;
    margin-right: 15%;
}

#cabecalho {
    margin-top: 0;
    top: 0;
    text-align: center;
    position: fixed;
    display: inline-block;
    width: 80%;
    font-family: Amiri;
}

#minha_foto {
    width: 250px;
    height: 330px;
    float: right;
    margin-top: 40px;
}
.section-lista-aprendidas {
    /* border: 2px solid black; */
    font-family: Zilla Slab;
    display: inline-block;
    margin-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
    left: 50%;
    font-weight: 550;
    margin-left: 2%;
}
.section-lista-aprender {
    /* border: 2px solid black; */
    font-family: Zilla Slab;
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 100px;
    left: 50%;
    font-weight: 550;
    margin-left: 2%;
}
.info-listas {
    text-align: justify;
    font-family: Amiri;
    font-weight: 550;
    margin-top: 30px;
    text-indent: 35px;
    margin-bottom: 20px;
    margin-left: 2%;
}
.lado-esquerdo {
    text-align: justify;
    font-family: Amiri;
    font-weight: 550;
    text-indent: 35px;
    display: inline-block;
    /* border: 2px solid black; */
    width: 45%;
    margin-right: 3%;
    margin-left: 2%;
}
#tabela-escola, th, td {
    border: 2px solid black;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 30px;
    margin-left: 40px;
}
.lado-direito {
    text-align: justify;
    font-family: Amiri;
    font-weight: 550;
    text-indent: 35px;
    /* border: 2px solid black; */
    width: 45%;
    display: inline-block;
    margin-top: -600px; 
}
#rodape {
    text-align: center;
    color: brown;
    font-size: larger;
}
.section-table {
    font-family: Amiri;
    font-weight: 550;
    margin-left: 2%;
    text-indent: 35px;
}
#navegacao {
    line-height: 10px;
    color: blueviolet;
    text-decoration: none;
    text-decoration-color: blueviolet;
    text-decoration-line: none;
    font-size: larger;
}
