body{
    background-color: rgb(253, 251, 251);
    font-size: 17px;
  color: rgb(66, 66, 66);
  line-height: 25px;
  font-family: sans-serif;
 }
 
 .img {
    width: 300px;
    border-radius: 100% 100% ;
   margin-top: 00PX;
   text-align: center;
   display: block;
   margin: auto;
   
  }
  .lado-direito {
  text-align: justify;
  font-family: Amiri, Arial, Helvetica, sans-serif;
  font-weight: 550;
  text-indent: 55px;
  width: 30%;
  display: inline-block;
  margin-top: -600px;
  margin-;
  }
  .lado-esquerdo{
    top: 500px;
    width: 93%;
    margin-left: 15px;
    background-color: rgb(233, 187, 223);
    width: 500px;
    text-align:justify;
    margin-top: 200px;
  }
  
  
  }
  
 .nome{
    text-align: center;
    font-size: 60px;
 }
 #cabecalho {
    position: fixed;
   top: 0;
   left: 0;
   right: 0;
   height: 35px;
   font-size: 20px;

 }

 .jaaprendi, .vaiaprender {
    display: inline-block;
    text-align: center;
    background-color: rgb(236, 138, 215);
    font-size: 30px;
 }
 #rodape {
    text-align: center;
  }

  a {
    color: red;
    text-decoration: none;
  }

  #trybe_foto {
    width: 100px;
  }

  .box {
    width: 50px;
    height: 50px;
    background-color: lightblue;
    padding: 20px;
    border: 2px solid black;
    margin: 50px;
    text-align: center;
    align-items: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Style the footer */
#rodape {
    width: 100%;
    height: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  #trybe_foto {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#article {
    
    
}
#aside{
    display: inline-block;
    margin-bottom: 30px;
    background-color:  rgb(233, 187, 223);
    width: 500px;
    text-align:justify;
}

#licoes_aprendidas {
    color: rgb(1, 20, 16;
    float: left;
    width: 500px;
  }
  
  .lado-direito {
    float: right;
    width: 500px;
  }