body{
    background-color:rgb(253, 251, 251);
    font-size: 17px;
  color: rgb(66, 66, 66);
  line-height: 25px;
  font-family: sans-serif;
 }
 
 

 .img {
    width: 300px;
    border-radius: 100% 100% ;
   margin-top: 00PX;
   text-align: center;
   display: block;
   margin: auto;
   
  }
  .lado-direito {
  text-align: justify;
  font-family: Amiri, Arial, Helvetica, sans-serif;
  font-weight: 550;
  text-indent: 55px;
  width: 30%;
  display: inline-block;
  margin-top: -600px;
  }
  .lado-esquerdo{
    top: 500px;
    width: 93%;
    margin-left: 15px;
    background-color: rgb(233, 187, 223);
    width: 500px;
    text-align:justify;
    margin-top: 200px;
  } 
 .nome{
    text-align: center;
    font-size: 60px;
 }

 #cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(236, 138, 215);
    font-size: 30px;
 }
 #rodape {
    text-align: center;
    background-color:  rgb(236, 138, 215);
    padding: 0px;
    width: 100%;
     }
#licoes_a_aprender {
    color: black;

}
#articletitulo {
top: 500px;
    width: 93%;
    margin-left: 15px;
    background-color: rgb(233, 187, 223);
}

#asidetitulo{
    display: inline-block;
    margin-bottom: 30px;
    background-color:  rgb(226, 17, 181);
    width: 500px;


}
#Quem{
    text-align: center;
}

#aside{
    display: inline-block;
    margin-bottom: 30px;
    background-color:  rgb(233, 187, 223);
    width: 500px;
    text-align:justify;
}

#licoes_aprendidas {
    color: rgb(1, 20, 16);
    float: left;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 50%;
    padding: 50px;
    border: 100px;

}

